* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

.header {
    display: flex;
    padding: 60px;
    font-family: monospace, Arial, Helvetica, sans-serif, serif;
    background-color: rgb(156, 156, 244);
}


.content {
    display: wrap;
    width: 70%;
    display: inline-block;
    position:relative;
    font-family: monospace, Arial, Helvetica, sans-serif, serif;
}


.body {
    background-color: burlywood;
    font-family: monospace, Arial, Helvetica, sans-serif, serif;
    text-align: center;
}

